/* body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
  border: none;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* header */
.ul-header {
  display: none;
}

.gheader-adres {
  display: none;
}

.button-header {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.header-link {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}

.studio-span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.flexheader {
  display: flex;
  justify-content: space-between;
}

.bord-hed {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .ul-header {
    display: flex;
    column-gap: 40px;
  }

  .gheader-adres {
    display: block;
    font-style: normal;
  }

  .button-header {
    display: none;
  }

  .flexheader {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .header-link {
    color: #4d5ae5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .studio-span {
    color: #2e2f42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .ul-header-link {
    color: #2e2f42;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .ul-header .ul-header-link:hover,
  .ul-header .ul-header-link:focus {
    color: #404bbf;
  }

  .current-page {
    position: relative;
    color: #404bbf;
  }

  .current-page::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    display: inline-block;
  }

  .ul-adress-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .ul-adress .ul-adress-link:hover,
  .ul-adress .ul-adress-link:focus {
    color: #404bbf;
  }

  .ul-adress {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .flexnav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .ul-adress-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .ul-adress {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }
}

/* section button */
.section-button {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);
  max-width: 100%;

  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-button {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile-2x.jpg);
  }
}

.page-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
  width: 216px;
}

.button-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}

.button-text {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .section-button {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-planchet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-button {
      background-color: #2e2f42;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-planchet-2x.jpg);
    }
  }

  .page-title {
    width: 496px;

    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-button {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;

    padding-top: 188px;
    padding-bottom: 188px;
  }

  .page-title {
    margin-bottom: 48px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-button {
      background-color: #2e2f42;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}

/* section-advantages */

.container-icon-advantages {
  display: none;
}

.my-br {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.title-advantages {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.text-advantages {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .ul-advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .my-br {
    display: block;
  }

  .title-advantages {
    text-align: left;
  }

  .item-advantages {
    flex-basis: calc((100% - 24px) / 2);
  }

  .text-advantages {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .ul-advantages .title-advantages {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .ul-advantages .text-advantages {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    width: 264px;
  }

  .ul-advantages {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .item-advantages {
    width: calc((100% - 72px) / 4);
  }

  .container-icon-advantages {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }

  .my-br {
    display: none;
  }
}

/* section dream-team */

.section-dream-team {
  background-color: var(--CLOUD, #f4f4fd);
  padding-left: 28px;
  padding-right: 28px;
}

.title-section {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-size: 36px;

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul-dream-team {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.list-item-dream-team {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-dreamteam {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  padding: 32px 16px;
}
.title-dream-team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-dream-team {
  color: var(--SLATE, #434455);
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.dreamteam-list-svg {
  display: flex;
  column-gap: 24px;
}
.item-dream-team {
  width: 40px;
  height: 40px;
}
.link-container-dreamteam {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-container-dreamteam:hover,
.link-container-dreamteam:focus {
  background-color: #404bbf;
}

.icon-dream-team {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .ul-dream-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .ul-dream-team {
    flex-wrap: nowrap;
  }
}

/* section Our Portfolio */

.title-section-portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-size: 36px;

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul-portfolio {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.container-portfolio-item {
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: #4d5ae5;
  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container-portfolio-item:hover .overlay {
  transform: translateY(0);
}

.container-portfolio {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  background: #fff;

  padding: 32px 16px;
}
.title-portfolio {
  color: var(--NAVY-BLUE, #2e2f42);

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ul-text-portfolio {
  color: var(--SLATE, #434455);

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .ul-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .container-portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container-portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .title-section-portfolio {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
}

/* footer */
.footer-page {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-link {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17px;
  display: block;
  text-align: center;
}
.footer-span {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1157px) {
  .main-content-footer {
    margin-bottom: 72px;
  }
  .no-main-content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}

.text-footer {
  color: var(--CLOUD, #f4f4fd);

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
}

.social-media-footer {
  color: #fff;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.list-icon {
  display: flex;
  column-gap: 16px;
}
.list-item-footer {
  width: 40px;
  height: 40px;
}
.link-footer-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-svg:hover,
.link-footer-svg:focus {
  background-color: #31d0aa;
}
.icon-foot {
  fill: var(--color3, #f4f4fd);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-foot:hover {
  fill: #f4f4fd;
}
.container-footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot-label {
  color: var(--WHITE, #fff);

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.foot-form {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-foot {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;

  color: #ffffff;
}

.input-foot:focus {
  opacity: 1;
  color: #ffffff;
}

.input-foot::placeholder {
  color: #ffffff;

  font-size: 12px;

  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.label-footer {
  display: block;
  margin-bottom: 16px;
}

.button-foot {
  color: var(--WHITE, #fff);
  text-align: center;
  margin: 0 auto;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  padding: 8px 24px;
  border: none;
  display: flex;
  column-gap: 16px;
  cursor: pointer;
}
.icon-form-foot {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-link {
    text-align: left;
    display: block;
  }

  .foot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    padding-left: 92px;
  }

  .text-footer {
    width: 264px;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .no-main-content-footer {
      display: flex;
      flex-direction: column;
      column-gap: 24px;

      margin-bottom: 72px;
    }
  }
  .social-media-footer {
    align-self: flex-start;
  }

  .container-footer-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .foot-label {
    align-self: flex-start;
  }
  .foot-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    column-gap: 24px;
  }

  .input-foot {
    width: 264px;

    height: 40px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .main-content-footer {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .foot-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    padding-left: 0;
  }

  .footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .no-main-content-footer {
    margin-right: 80px;
  }

  .main-content-footer {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
  }

  .button-foot {
    border-radius: 4px;
    padding: 8px 24px;
    max-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
  }

  .input-foot {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #fff);
    opacity: 1;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;

    color: #ffffff;
  }

  .foot-form {
    justify-content: space-between;
  }
}

/* modal-window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  max-width: 288px;

  flex-shrink: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed-form {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  padding: 0;
}

.button-closed-form:hover,
.button-closed-form:focus {
  background-color: #404bbf;
  border: none;
}

.icon-closed-form {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed-form:hover .icon-closed-form,
.button-closed-form:focus .icon-closed-form {
  fill: #ffffff;
}

.text-modal {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.name-modal {
  color: #8e8f99;

  font-size: 12px;

  font-weight: 400;

  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
  display: flex;
}

.name-modal:last-child {
  margin-bottom: 0px;
}

.input-name-modal {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-container-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.name-container-modal:last-child {
  margin-bottom: 0px;
}

.icon-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name-modal:focus-within + .icon-modal {
  fill: #4d5ae5;
}

.input-name-modal:focus {
  border: 1px solid #4d5ae5;
}

.wrap-modal {
  position: relative;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.text-comment {
  position: relative;
  max-width: 256px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
  border-color: #4d5ae5;
}

textarea::placeholder {
  position: absolute;
  top: 8px;
  left: 16px;
  transform: translateX(16px);
  transform: translateY(8px);
  color: rgba(46, 47, 66, 0.4);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.16px;
  letter-spacing: 0.04em;
}

.modal-form-span {
  color: #4d5ae5;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.textareacontainer {
  margin-bottom: 16px;
}

.checkbox-modal {
  width: 16px;
  height: 16px;
}

.submit-type-button {
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-height: 56px;
  min-width: 169px;
  border: none;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-type-button:hover,
.submit-type-button:focus {
  background-color: #404bbf;
}

.text-button-form {
  color: #fff;
  text-align: center;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.checkbox-container-form {
  margin-bottom: 24px;
}

.check-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(78, 79, 83, 0.4);
  border-radius: 2px;
  padding: 4px 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.link-modal {
  color: #4d5ae5;
  text-decoration: underline;
}

input:checked + .name-modal > .check-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .name-modal {
    color: #8e8f99;

    font-size: 12px;

    font-weight: 400;

    letter-spacing: 0.04em;
    margin-bottom: 4px;
    line-height: 1.17;
    max-width: 338px;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    max-width: 408px;

    flex-shrink: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-comment {
    max-width: 360px;
  }

  .text-modal {
    width: 360px;
  }
}

/* mobile menu */
@media screen and (max-width: 767px) {
  .mobile-menu {
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .mobile-menu-nav {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-mobile-menu {
    color: var(--SLATE, #434455);

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-closed-mobile-menu {
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 272px;
    margin-bottom: 24px;

    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    padding: 0;
  }

  .mobile-menu ul {
    margin-left: 16px;
  }

  .ul-mobile-menu-contact {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 168px;
  }

  .ul-adress-mobile-menu {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 48px;
  }

  .mobile-menu-nav:hover,
  .mobile-menu-nav :focus {
    color: #404bbf;
  }
  .adress-mobile-menu:hover,
  .adress-mobile-menu:focus {
    color: #4d5ae5;
  }
  .mobile-menu .list-icon {
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
    margin-bottom: 40px;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
